{% extends '_format.html' %}
		{% block body %}
			<!-- Jumbotron -->
			<div id="main-content" class="row">
				<div class = "col-sm-12">
					<div class="jumbotron jumbotron-fluid">
						<div style="padding: 0 0 0 12px;" class="container">
							<h1 id ="header" class = "text-muted" style="font-family: 'Mina', sans-serif; padding: 0 0 0 24px;"> Nathan Abuaku</h1>
							<hr>
							<p style="font-family: 'Mina', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus tortor non mi varius, id molestie nunc luctus. Aenean viverra eu eros eu mollis. Maecenas vel convallis tellus, vel porta purus. Suspendisse potenti. Aliquam facilisis eleifend purus in auctor. Nulla facilisi. Sed facilisis nisi a erat viverra efficitur. Ut vulputate ipsum sit amet ante eleifend varius. Duis suscipit libero eu odio pellentesque dictum. Suspendisse maximus nunc at risus semper iaculis. Pellentesque nunc ex, molestie vel aliquet nec, iaculis ac purus.</p>
							<button style="font-family: 'Mina', sans-serif;" class="btn btn-primary">Learn More</button>
							<hr>
							<img src="https://static.pexels.com/photos/270348/pexels-photo-270348.jpeg" class="img-fluid rounded">

						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- Showcase Title -->
			<div class="row">
				<div class = "col-sm-12">
					<h1 style="font-family: 'Mina', sans-serif; padding: 0 0 0 6px;">Projects</h1>
				</div>
			</div>
			<hr>
			<!-- Showcase col.1-->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-header bg-info">
						<h1 style="font-family: 'Mina', sans-serif;">Yung Ice</h1>
					</div>
					<div class="card-body bg-light">
						<img class="img-fluid rounded" src="https://i.imgur.com/NuKuKTN.png" alt="something">
					</div>
					<br>
					<br>
					<br>
					<div class="card-footer bg-info">
						<a href="https://yungxice.000webhostapp.com/index.html"class="btn btn-light">Visit</a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card-header bg-info">
						<h1 style="font-family: 'Mina', sans-serif;">Work</h1>
					</div>
					<div class="card-body bg-light">
						<img class="img-fluid rounded" src="https://i.imgur.com/C6kVIvl.jpg" alt="something">
					</div>
					<div class="card-footer bg-info">
						<button class="btn btn-light">Visit</button>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card-header bg-info">
						<h1 style="font-family: 'Mina', sans-serif;">FXLLEN</h1>
					</div>
					<div class="card-body bg-light">
						<img class="img-fluid rounded" src="https://i.imgur.com/C6kVIvl.jpg" alt="something">
					</div>
					<div class="card-footer bg-info">
						<button class="btn btn-light">Visit</button>
					</div>
				</div>
			</div>
			<br>
			<!-- Showcase col.2-->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-header bg-info">
						<h1 style="font-family: 'Mina', sans-serif;">Florist</h1>
					</div>
					<div class="card-body bg-light">
						<img class="img-fluid rounded" src="https://i.imgur.com/C6kVIvl.jpg" alt="something">
					</div>
					<div class="card-footer bg-info">
						<button class="btn btn-light">Visit</button>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card-header bg-info">
						<h1 style="font-family: 'Mina', sans-serif;">B-Tec Portfolio</h1>
					</div>
					<div class="card-body bg-light">
						<img class="img-fluid rounded" src="https://i.imgur.com/C6kVIvl.jpg" alt="something">
					</div>
					<div class="card-footer bg-info">
						<button class="btn btn-light">Visit</button>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card-header bg-info">
						<h1 style="font-family: 'Mina', sans-serif;">Gambling Site</h1>
					</div>
					<div class="card-body bg-light">
						<img class="img-fluid rounded" src="https://i.imgur.com/C6kVIvl.jpg" alt="something">
					</div>
					<div class="card-footer bg-info">
						<button class="btn btn-light">Visit</button>
					</div>
				</div>
			</div>

			<hr>
			<footer>&copy; Nathan Abuaku 2018</footer>
		{% endblock %}
		



